.product-list-grid{
    display: grid;
    grid-template-columns: 15rem repeat(2, 1fr) 10px;
    grid-template-rows: 4rem;
    border-bottom: solid 1px;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    li{
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    @media (max-width: 1000px) {
      grid-template-columns: 10rem repeat(2, 1fr) 10px;
      grid-template-rows: 1.5rem;
      font-size: 1rem;
    }
    h2{
      @media (max-width: 1000px) {
        grid-template-columns: 50px repeat(2, 1fr) 10px;
        font-size: 1rem;
      }
    }
  }  

  .product-form-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-form-container{
    position: absolute;
    left: 30%;
    top: -15%;
    z-index: 102;
 
    h3{
      text-align: left;
    }
    form{
      margin-top: 3rem;
     
    }
    @media (max-width: 1000px) {
      width: 100vw;
      left: 0;
    }
  }